<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45** minutes

In this lab, you will perform data wrangling tasks to prepare raw data for analysis. Data wrangling involves cleaning, transforming, and organizing data into a structured format suitable for analysis. This lab focuses on tasks like identifying inconsistencies, encoding categorical variables, and feature transformation.

## Objectives

After completing this lab, you will be able to:

- Identify and remove inconsistent data entries.

- Encode categorical variables for analysis.

- Handle missing values using multiple imputation strategies.

- Apply feature scaling and transformation techniques.

#### Intsall the required libraries

In [ ]:
!pip install pandas
!pip install matplotlib

## Tasks

#### Step 1: Import the necessary module.

### 1. Load the Dataset

<h5>1.1 Import necessary libraries and load the dataset.</h5>

Ensure the dataset is loaded correctly by displaying the first few rows.

In [1]:
# Import necessary libraries
import pandas as pd

# Load the Stack Overflow survey data
dataset_url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv"
df = pd.read_csv(dataset_url)

# Display the first few rows
print(df.head())

   ResponseId                      MainBranch                 Age  \
0           1  I am a developer by profession  Under 18 years old
1           2  I am a developer by profession     35-44 years old
2           3  I am a developer by profession     45-54 years old
3           4           I am learning to code     18-24 years old
4           5  I am a developer by profession     18-24 years old

            Employment RemoteWork   Check  \
0  Employed, full-time     Remote  Apples
1  Employed, full-time     Remote  Apples
2  Employed, full-time     Remote  Apples
3   Student, full-time        NaN  Apples
4   Student, full-time        NaN  Apples

                                    CodingActivities  \
0                                              Hobby
1  Hobby;Contribute to open-source projects;Other...
2  Hobby;Contribute to open-source projects;Other...
3                                                NaN
4                                                NaN

                                             EdLevel  \
0                          Primary/elementary school
1       Bachelor’s degree (B.A., B.S., B.Eng., etc.)
2    Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
3  Some college/university study without earning ...
4  Secondary school (e.g. American high school, G...

                                           LearnCode  \
0                             Books / Physical media
1  Books / Physical media;Colleague;On the job tr...
2  Books / Physical media;Colleague;On the job tr...
3  Other online resources (e.g., videos, blogs, f...
4  Other online resources (e.g., videos, blogs, f...

                                     LearnCodeOnline  ... JobSatPoints_6  \
0                                                NaN  ...            NaN
1  Technical documentation;Blogs;Books;Written Tu...  ...            0.0
2  Technical documentation;Blogs;Books;Written Tu...  ...            NaN
3  Stack Overflow;How-to videos;Interactive tutorial  ...            NaN
4  Technical documentation;Blogs;Written Tutorial...  ...            NaN

  JobSatPoints_7 JobSatPoints_8 JobSatPoints_9 JobSatPoints_10  \
0            NaN            NaN            NaN             NaN
1            0.0            0.0            0.0             0.0
2            NaN            NaN            NaN             NaN
3            NaN            NaN            NaN             NaN
4            NaN            NaN            NaN             NaN

  JobSatPoints_11           SurveyLength SurveyEase ConvertedCompYearly JobSat
0             NaN                    NaN        NaN                 NaN    NaN
1             0.0                    NaN        NaN                 NaN    NaN
2             NaN  Appropriate in length       Easy                 NaN    NaN
3             NaN               Too long       Easy                 NaN    NaN
4             NaN              Too short       Easy                 NaN    NaN

[5 rows x 114 columns]

#### 2. Explore the Dataset

<h5>2.1 Summarize the dataset by displaying the column data types, counts, and missing values.</h5>

In [2]:
print("\nDataset info:")
print(df.info())

print("\nMissing values per column:")
print(df.isnull().sum().sort_values(ascending=False))

# 2.2: Basic statistics for numerical columns
print("\nSummary statistics (numerical columns):")
print(df.describe())

Dataset info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65437 entries, 0 to 65436
Columns: 114 entries, ResponseId to JobSat
dtypes: float64(13), int64(1), object(100)
memory usage: 56.9+ MB
None

Missing values per column:
AINextMuch less integrated    64289
AINextLess integrated         63082
AINextNo change               52939
AINextMuch more integrated    51999
EmbeddedAdmired               48704
                              ...
MainBranch                        0
Check                             0
Employment                        0
Age                               0
ResponseId                        0
Length: 114, dtype: int64

Summary statistics (numerical columns):
         ResponseId      CompTotal       WorkExp  JobSatPoints_1  \
count  65437.000000   3.374000e+04  29658.000000    29324.000000
mean   32719.000000  2.963841e+145     11.466957       18.581094
std    18890.179119  5.444117e+147      9.168709       25.966221
min        1.000000   0.000000e+00      0.000000        0.000000
25%    16360.000000   6.000000e+04      4.000000        0.000000
50%    32719.000000   1.100000e+05      9.000000       10.000000
75%    49078.000000   2.500000e+05     16.000000       22.000000
max    65437.000000  1.000000e+150     50.000000      100.000000

       JobSatPoints_4  JobSatPoints_5  JobSatPoints_6  JobSatPoints_7  \
count    29393.000000    29411.000000    29450.000000     29448.00000
mean         7.522140       10.060857       24.343232        22.96522
std         18.422661       21.833836       27.089360        27.01774
min          0.000000        0.000000        0.000000         0.00000
25%          0.000000        0.000000        0.000000         0.00000
50%          0.000000        0.000000       20.000000        15.00000
75%          5.000000       10.000000       30.000000        30.00000
max        100.000000      100.000000      100.000000       100.00000

       JobSatPoints_8  JobSatPoints_9  JobSatPoints_10  JobSatPoints_11  \
count    29456.000000    29456.000000     29450.000000     29445.000000
mean        20.278165       16.169432        10.955713         9.953948
std         26.108110       24.845032        22.906263        21.775652
min          0.000000        0.000000         0.000000         0.000000
25%          0.000000        0.000000         0.000000         0.000000
50%         10.000000        5.000000         0.000000         0.000000
75%         25.000000       20.000000        10.000000        10.000000
max        100.000000      100.000000       100.000000       100.000000

       ConvertedCompYearly        JobSat
count         2.343500e+04  29126.000000
mean          8.615529e+04      6.935041
std           1.867570e+05      2.088259
min           1.000000e+00      0.000000
25%           3.271200e+04      6.000000
50%           6.500000e+04      7.000000
75%           1.079715e+05      8.000000
max           1.625660e+07     10.000000

<h5>2.2 Generate basic statistics for numerical columns.</h5>

In [3]:
print("\nSummary statistics (numerical columns):")
print(df.describe())

Summary statistics (numerical columns):
         ResponseId      CompTotal       WorkExp  JobSatPoints_1  \
count  65437.000000   3.374000e+04  29658.000000    29324.000000
mean   32719.000000  2.963841e+145     11.466957       18.581094
std    18890.179119  5.444117e+147      9.168709       25.966221
min        1.000000   0.000000e+00      0.000000        0.000000
25%    16360.000000   6.000000e+04      4.000000        0.000000
50%    32719.000000   1.100000e+05      9.000000       10.000000
75%    49078.000000   2.500000e+05     16.000000       22.000000
max    65437.000000  1.000000e+150     50.000000      100.000000

       JobSatPoints_4  JobSatPoints_5  JobSatPoints_6  JobSatPoints_7  \
count    29393.000000    29411.000000    29450.000000     29448.00000
mean         7.522140       10.060857       24.343232        22.96522
std         18.422661       21.833836       27.089360        27.01774
min          0.000000        0.000000        0.000000         0.00000
25%          0.000000        0.000000        0.000000         0.00000
50%          0.000000        0.000000       20.000000        15.00000
75%          5.000000       10.000000       30.000000        30.00000
max        100.000000      100.000000      100.000000       100.00000

       JobSatPoints_8  JobSatPoints_9  JobSatPoints_10  JobSatPoints_11  \
count    29456.000000    29456.000000     29450.000000     29445.000000
mean        20.278165       16.169432        10.955713         9.953948
std         26.108110       24.845032        22.906263        21.775652
min          0.000000        0.000000         0.000000         0.000000
25%          0.000000        0.000000         0.000000         0.000000
50%         10.000000        5.000000         0.000000         0.000000
75%         25.000000       20.000000        10.000000        10.000000
max        100.000000      100.000000       100.000000       100.000000

       ConvertedCompYearly        JobSat
count         2.343500e+04  29126.000000
mean          8.615529e+04      6.935041
std           1.867570e+05      2.088259
min           1.000000e+00      0.000000
25%           3.271200e+04      6.000000
50%           6.500000e+04      7.000000
75%           1.079715e+05      8.000000
max           1.625660e+07     10.000000

### 3. Identifying and Removing Inconsistencies

<h5>3.1 Identify inconsistent or irrelevant entries in specific columns (e.g., Country).</h5>

In [4]:
print("\nUnique Countries (sample):")
print(df['Country'].value_counts().head(20))

Unique Countries (sample):
Country
United States of America                                11095
Germany                                                  4947
India                                                    4231
United Kingdom of Great Britain and Northern Ireland     3224
Ukraine                                                  2672
France                                                   2110
Canada                                                   2104
Poland                                                   1534
Netherlands                                              1449
Brazil                                                   1375
Italy                                                    1341
Australia                                                1260
Spain                                                    1123
Sweden                                                   1016
Russian Federation                                        925
Switzerland                                               876
Austria                                                   791
Czech Republic                                            714
Israel                                                    604
Turkey                                                    546
Name: count, dtype: int64

<h5>3.2 Standardize entries in columns like Country or EdLevel by mapping inconsistent values to a consistent format.</h5>

In [6]:
country_corrections = {
    'United States of America': 'United States',
    'USA': 'United States',
    'United Kingdom of Great Britain and Northern Ireland': 'United Kingdom',
    'UK': 'United Kingdom',
    'Russian Federation': 'Russia',
    'The Netherlands': 'Netherlands',
    'Viet Nam': 'Vietnam',
    # Add other mappings as needed
}

df['Country'] = df['Country'].replace(country_corrections)

print("\nCountries after standardization (sample):")
print(df['Country'].value_counts().head(20))

Countries after standardization (sample):
Country
United States     11095
Germany            4947
India              4231
United Kingdom     3224
Ukraine            2672
France             2110
Canada             2104
Poland             1534
Netherlands        1449
Brazil             1375
Italy              1341
Australia          1260
Spain              1123
Sweden             1016
Russia              925
Switzerland         876
Austria             791
Czech Republic      714
Israel              604
Turkey              546
Name: count, dtype: int64

### 4. Encoding Categorical Variables

<h5>4.1 Encode the Employment column using one-hot encoding.</h5>

In [7]:
employment_dummies = pd.get_dummies(df['Employment'], prefix='Employment', dummy_na=True)
print("\nOne-hot encoded Employment columns sample:")
print(employment_dummies.head())

One-hot encoded Employment columns sample:
   Employment_Employed, full-time  \
0                            True
1                            True
2                            True
3                           False
4                           False

   Employment_Employed, full-time;Employed, part-time  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

   Employment_Employed, full-time;Independent contractor, freelancer, or self-employed  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

   Employment_Employed, full-time;Independent contractor, freelancer, or self-employed;Employed, part-time  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

   Employment_Employed, full-time;Independent contractor, freelancer, or self-employed;Employed, part-time;Retired  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

   Employment_Employed, full-time;Independent contractor, freelancer, or self-employed;Not employed, and not looking for work  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

   Employment_Employed, full-time;Independent contractor, freelancer, or self-employed;Not employed, and not looking for work;Employed, part-time  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

   Employment_Employed, full-time;Independent contractor, freelancer, or self-employed;Not employed, and not looking for work;Student, part-time  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

   Employment_Employed, full-time;Independent contractor, freelancer, or self-employed;Retired  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

   Employment_Employed, full-time;Independent contractor, freelancer, or self-employed;Student, part-time  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

   ...  \
0  ...
1  ...
2  ...
3  ...
4  ...

   Employment_Student, full-time;Not employed, but looking for work;Retired  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

   Employment_Student, full-time;Not employed, but looking for work;Student, part-time  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

   Employment_Student, full-time;Retired  \
0                                  False
1                                  False
2                                  False
3                                  False
4                                  False

   Employment_Student, full-time;Student, part-time  \
0                                             False
1                                             False
2                                             False
3                                             False
4                                             False

   Employment_Student, full-time;Student, part-time;Employed, part-time  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

   Employment_Student, full-time;Student, part-time;Retired  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

   Employment_Student, part-time  \
0                          False
1                          False
2                          False
3                          False
4                          False

   Employment_Student, part-time;Employed, part-time  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

   Employment_Student, part-time;Retired  Employment_nan
0                                  False           False
1                                  False           False
2                                  False           False
3                                  False           False
4                                  False           False

[5 rows x 111 columns]

### 5. Handling Missing Values

<h5>5.1 Identify columns with the highest number of missing values.</h5>

In [8]:
missing_counts = df.isnull().sum().sort_values(ascending=False)
print("\nColumns with most missing values:")
print(missing_counts.head(10))

Columns with most missing values:
AINextMuch less integrated       64289
AINextLess integrated            63082
AINextNo change                  52939
AINextMuch more integrated       51999
EmbeddedAdmired                  48704
EmbeddedWantToWorkWith           47837
EmbeddedHaveWorkedWith           43223
ConvertedCompYearly              42002
AIToolNot interested in Using    41023
AINextMore integrated            41009
dtype: int64

<h5>5.2 Impute missing values in numerical columns (e.g., `ConvertedCompYearly`) with the mean or median.</h5>

In [9]:
median_comp = df['ConvertedCompYearly'].median()
df['ConvertedCompYearly'].fillna(median_comp, inplace=True)
print(f"\nMissing 'ConvertedCompYearly' after imputation: {df['ConvertedCompYearly'].isnull().sum()}")

Missing 'ConvertedCompYearly' after imputation: 0

/var/folders/j1/hh8wblxx5g7000xwt_wbc6xw0000gn/T/ipykernel_16233/1831084370.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['ConvertedCompYearly'].fillna(median_comp, inplace=True)

<h5>5.3 Impute missing values in categorical columns (e.g., `RemoteWork`) with the most frequent value.</h5>

In [10]:
most_freq_remote = df['RemoteWork'].mode()[0]
df['RemoteWork'].fillna(most_freq_remote, inplace=True)
print(f"Missing 'RemoteWork' after imputation: {df['RemoteWork'].isnull().sum()}")

Missing 'RemoteWork' after imputation: 0

/var/folders/j1/hh8wblxx5g7000xwt_wbc6xw0000gn/T/ipykernel_16233/3670589164.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['RemoteWork'].fillna(most_freq_remote, inplace=True)

### 6. Feature Scaling and Transformation

<h5>6.1 Apply Min-Max Scaling to normalize the `ConvertedCompYearly` column.</h5>

In [13]:
import pandas as pd
import numpy as np

# Load the dataset
dataset_url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv"
df = pd.read_csv(dataset_url)

# Impute missing values in 'ConvertedCompYearly' with median
median_comp = df['ConvertedCompYearly'].median()
df['ConvertedCompYearly'].fillna(median_comp, inplace=True)

# Manual Min-Max scaling
min_val = df['ConvertedCompYearly'].min()
max_val = df['ConvertedCompYearly'].max()
df['CompYearly_MinMax'] = (df['ConvertedCompYearly'] - min_val) / (max_val - min_val)

print("Min-Max scaled 'ConvertedCompYearly' sample:")
print(df[['ConvertedCompYearly', 'CompYearly_MinMax']].head())

# Log-transform (add 1 to avoid log(0))
df['CompYearly_Log'] = np.log(df['ConvertedCompYearly'] + 1)

print("\nLog-transformed 'ConvertedCompYearly' sample:")
print(df[['ConvertedCompYearly', 'CompYearly_Log']].head())

Min-Max scaled 'ConvertedCompYearly' sample:
   ConvertedCompYearly  CompYearly_MinMax
0              65000.0           0.003998
1              65000.0           0.003998
2              65000.0           0.003998
3              65000.0           0.003998
4              65000.0           0.003998

Log-transformed 'ConvertedCompYearly' sample:
   ConvertedCompYearly  CompYearly_Log
0              65000.0       11.082158
1              65000.0       11.082158
2              65000.0       11.082158
3              65000.0       11.082158
4              65000.0       11.082158

/var/folders/j1/hh8wblxx5g7000xwt_wbc6xw0000gn/T/ipykernel_16233/585511802.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['ConvertedCompYearly'].fillna(median_comp, inplace=True)

<h5>6.2 Log-transform the ConvertedCompYearly column to reduce skewness.</h5>

In [14]:
df['CompYearly_Log'] = np.log(df['ConvertedCompYearly'] + 1)
print("\nLog-transformed 'ConvertedCompYearly' sample:")
print(df[['ConvertedCompYearly', 'CompYearly_Log']].head())

Log-transformed 'ConvertedCompYearly' sample:
   ConvertedCompYearly  CompYearly_Log
0              65000.0       11.082158
1              65000.0       11.082158
2              65000.0       11.082158
3              65000.0       11.082158
4              65000.0       11.082158

### 7. Feature Engineering

<h5>7.1 Create a new column `ExperienceLevel` based on the `YearsCodePro` column:</h5>

In [15]:
def map_experience_level(x):
    try:
        years = float(x)
    except:
        if isinstance(x, str):
            if 'Less than' in x:
                return 'Junior'
            elif 'More than' in x:
                return 'Expert'
            else:
                return np.nan
        else:
            return np.nan

    if years < 2:
        return 'Junior'
    elif 2 <= years < 5:
        return 'Mid'
    elif 5 <= years < 10:
        return 'Senior'
    else:
        return 'Expert'

df['ExperienceLevel'] = df['YearsCodePro'].apply(map_experience_level)
print("\nExperienceLevel distribution:")
print(df['ExperienceLevel'].value_counts(dropna=False))

# Summary
print("\nData wrangling completed.")

ExperienceLevel distribution:
ExperienceLevel
Expert    35538
Senior    12928
Mid       11476
Junior     5495
Name: count, dtype: int64

Data wrangling completed.

### Summary

In this lab, you:

- Explored the dataset to identify inconsistencies and missing values.

- Encoded categorical variables for analysis.

- Handled missing values using imputation techniques.

- Normalized and transformed numerical data to prepare it for analysis.

- Engineered a new feature to enhance data interpretation.

Copyright © IBM Corporation. All rights reserved.